<!DOCTYPE html>
<html>
<head>
    <title>게시판</title>
    <style>
        .frame{
            width : 900px;
            height : 1800px;
            margin:auto;
            border: 1px solid #000000;
            background-color: #FFFFFF;
        }
        .cover{
            text-align:center;
            width : 900px;
            height : 150px;
            margin:auto;
            border: 1px solid #000000;
            background-color: #FFFFFF;
        }
        .bg{
            background-color: #dcdcdc;
        }

    </style>
</head>
<body>

<div id="main-bg" class="bg">
    <div id="posts-cover" class="cover">
        <h1 style="height:50px">게시판</h1>
    </div>
    <div id="posts-frame" style="font-size:50px;" class="frame">
        Access Denied
    </div>
</div>


</body>
</html>
